# Python/logging folders
**/.ipynb_checkpoints/
**/__pycache__/
**/models/
**/mlruns/
**/.venv/

# Container Paths
/pgadmin/
/data/

# General Files to exclude
**.env
!.env.example
**.xml
**.xsd
**.csv
**.json
**.old
**/target/**
**.pth
**.pt
**.safetensor
.DS_Store


